# -----------------------------------------------------------------------------
# API de IGDB / Twitch Developer Credentials
# -----------------------------------------------------------------------------
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""

# -----------------------------------------------------------------------------
# Configuración de Supabase
# -----------------------------------------------------------------------------
PUBLIC_SUPABASE_URL=""
PUBLIC_SUPABASE_ANON_KEY=""
